html, body {
  height: 100%;
  font-family: 'lucida_granderegular';
}

.form-signin h1 {
  font-family: 'lucida_granderegular';
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 130px;
}

.form-signin h2 {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 15px;
  padding-top: 23px;
}

.form-signin p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 19px;
}

a {
  color: #00000099;
}

a:hover {
  color: #00000099;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 374px;
  padding: 15px;
  margin: auto;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #D5D5D5;
}

.form-control:hover {
  border-radius: 0px;
  border: 1px solid black;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding-left: 12px;
  font-size: 14px;
}

.btn {
  height: 60px;
  width: 100%;
  font-size: 16px
}

.form-signin .form-control:focus {
  z-index: 2;
  border-color: black;
  outline: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.form-signin input[type="wallet"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  color: black !important;
}

#SignUP {
  background-color: #000000;
  border-radius: 0px;
  border-color: black;
}

#Wallet {
  background-color: #fff;
  color: black;
  border-radius: 0px;
  border-color: black;
}
